<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}"
>
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const employeeId = document.getElementById("employeeId").value;
      fetch(`/api/employees/${employeeId}/work-detail`)
        .then((response) => {
          if (!response.ok) {
            return response.json().then((errors) => {
              throw errors;
            });
          }
          return response.json();
        })
        .then((data) => {
          document.getElementById("hourlyRate").textContent = data.hourlyRate;
          // 추가 필드들도 여기에 추가합니다.
        })
        .catch((error) => {
          alert(error.message || "오류가 발생했습니다.");
          // 루트 페이지로 강제 리다이렉션
          window.location.href = "/employees";
        });

      // 근무표 수정 버튼 클릭 시 모달 창 표시
      document
        .getElementById("edit-WorkDetail-btn")
        .addEventListener("click", function () {
          // 현재 시급 값을 모달 입력 필드에 설정
          const currentHourlyRate =
            document.getElementById("hourlyRate").textContent;
          document.getElementById("editHourlyRate").value = currentHourlyRate;

          // 모달 창 표시
          $("#editWorkDetailModal").modal("show");
        });

      // 모달 내에서 '변경 저장' 버튼 클릭 시 동작
      document
        .getElementById("saveChangesBtn")
        .addEventListener("click", function () {
          const newHourlyRate = document.getElementById("editHourlyRate").value;

          // 서버로 수정 요청 보내는 코드 (fetch 등) 여기에 작성...
          fetch(`/api/employees/${employeeId}/work-detail`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              hourlyRate: document.getElementById("editHourlyRate").value,
            }),
          })
            .then((response) => {
              if (!response.ok) {
                return response.json().then((errors) => {
                  throw errors;
                });
              }
              return response.json();
            })
            .then((data) => {
              alert("근무표가 성공적으로 수정되었습니다.");
              location.reload();
            })
            .catch((errors) => {
              if (errors.message) {
                // DataIntegrityViolationException 예외의 경우
                alert(errors.message);
              } else {
                // 유효성 검사 예외 (MethodArgumentNotValidException)의 경우
                const errorMessage = Object.entries(errors)
                  .map(([field, error]) => `${field}: ${error}`)
                  .join("\n");
                alert(errorMessage);
              }
            });

          // 모달 창 닫기
          $("#editWorkDetailModal").modal("hide");
        });

      const deleteButton = document.getElementById("delete-WorkDetail-btn");

      if (deleteButton) {
        deleteButton.addEventListener("click", (event) => {
          if (confirm("정말로 근무표 삭제 하시겠습니까?")) {
            fetch(`/api/employees/${employeeId}/work-detail`, {
              method: "DELETE",
            })
              .then((response) => {
                if (response.ok) {
                  alert("근무표 삭제가 완료되었습니다.");
                  window.location.href = `/employee/${employeeId}`;
                } else {
                  throw new Error("근무표 삭제중 오류가 발생했습니다.");
                }
              })
              .catch((errors) => {
                alert("오류가 발생했습니다: " + error);
              });
          }
        });
      }

      // 근무기록 추가 버튼 클릭 시 모달 창 표시
      document
        .getElementById("add-WorkRecord-btn")
        .addEventListener("click", function () {
          $("#addWorkRecordModal").modal("show");
        });

      // 모달 내에서 '기록 추가하기' 버튼 클릭 시 동작
      document
        .getElementById("addRecordBtn")
        .addEventListener("click", function () {
          // 서버로 추가 요청 보내는 코드 (fetch 등) 여기에 작성...
          fetch(`/api/employees/${employeeId}/work-detail/work-log`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              workDate: document.getElementById("workDate").value,
              startTime: document.getElementById("startTime").value,
              endTime: document.getElementById("endTime").value,
            }),
          })
            .then((response) => {
              if (!response.ok) {
                return response.json().then((errors) => {
                  throw errors;
                });
              }
              return response.json();
            })
            .then((data) => {
              alert("근무기록이 성공적으로 추가되었습니다.");
              location.reload();
            })
            .catch((errors) => {
              const errorMessage = Object.entries(errors)
                .map(([field, error]) => `${field}: ${error}`)
                .join("\n");
              alert(errorMessage);
            });

          // 모달 창 닫기
          $("#addWorkRecordModal").modal("hide");
        });

      const today = new Date();
      document.getElementById("workDate").max = today
        .toISOString()
        .split("T")[0];

      const startTimeInput = document.getElementById("startTime");
      const endTimeInput = document.getElementById("endTime");
      const totalTimeInput = document.getElementById("totalTime");

      function updateTotalTime() {
        const start = startTimeInput.value.split(":").map(Number);
        const end = endTimeInput.value.split(":").map(Number);

        if (start.length !== 2 || end.length !== 2) return;

        const startDate = new Date(1970, 0, 1, start[0], start[1]);
        const endDate = new Date(1970, 0, 1, end[0], end[1]);

        if (endDate <= startDate) {
          endDate.setDate(endDate.getDate() + 1); // Add a day if the end time is before start time
        }

        const difference = new Date(endDate - startDate);
        const hours = difference.getUTCHours();
        const minutes = difference.getUTCMinutes();

        totalTimeInput.value = `${hours}시간 ${minutes}분`;
      }

      startTimeInput.addEventListener("change", updateTotalTime);
      endTimeInput.addEventListener("change", updateTotalTime);
    </script>
  </th:block>

  <div layout:fragment="content">
    <input type="hidden" id="employeeId" th:value="${id}" />
    <div class="container mt-5">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h2 class="mb-4 text-center">근무표</h2>
            <table class="table table-bordered table-hover">
              <tbody>
                <th class="w-25"><strong>시급:</strong></th>
                <td>
                  <span id="hourlyRate"></span>
                </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- 근무표 수정 및 삭제 버튼 추가 -->
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-warning mr-2" id="edit-WorkDetail-btn">
        근무표 수정
      </button>
      <button class="btn btn-danger" id="delete-WorkDetail-btn">
        근무표 삭제
      </button>
    </div>

    <!-- 근무기록 추가 버튼 -->
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-success" id="add-WorkRecord-btn">
        근무기록 추가
      </button>
    </div>

    <!-- 근무표 수정 모달 -->
    <div
      class="modal fade"
      id="editWorkDetailModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editWorkDetailModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editWorkDetailModalLabel">
              근무표 수정
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- 시급 입력 필드 -->
            <div class="form-group">
              <label for="editHourlyRate">시급</label>
              <input
                type="number"
                class="form-control"
                id="editHourlyRate"
                placeholder="시급을 입력하세요"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              닫기
            </button>
            <button type="button" class="btn btn-primary" id="saveChangesBtn">
              변경 저장하기
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 근무기록 추가 모달 -->
    <div
      class="modal fade"
      id="addWorkRecordModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addWorkRecordModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addWorkRecordModalLabel">
              근무기록 추가
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- 근무 날짜 입력 필드 -->
            <div class="form-group">
              <label for="workDate">근무 날짜</label>
              <input type="date" class="form-control" id="workDate" />
            </div>

            <!-- 근무 시작 시간 입력 필드 -->
            <div class="form-group">
              <label for="startTime">시작 시간</label>
              <input type="time" class="form-control" id="startTime" />
            </div>

            <!-- 근무 종료 시간 입력 필드 -->
            <div class="form-group">
              <label for="endTime">종료 시간</label>
              <input type="time" class="form-control" id="endTime" />
            </div>

            <div class="form-group">
              <label for="totalTime">총 시간</label>
              <input type="text" id="totalTime" class="form-control" readonly />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              닫기
            </button>
            <button type="button" class="btn btn-primary" id="addRecordBtn">
              기록 추가하기
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
