<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <div layout:fragment="content">
    <body class="bg-light">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-primary text-white">로그인</div>
              <div class="card-body">
                <form th:action="@{/users/login}" method="post">
                  <div th:if="${param.error}" class="alert alert-danger">
                    로그인에 실패하였습니다. 다시 시도해주세요.
                  </div>
                  <div class="form-group">
                    <label for="email">이메일:</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="이메일을 입력하세요"
                      name="username"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="비밀번호를 입력하세요"
                      name="password"
                      required
                    />
                  </div>
                  <button type="submit" class="btn btn-success">로그인</button>
                  <a href="/users/register" class="btn btn-primary">회원가입</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </div>
</html>
