<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      var userId = document.getElementById("userId").value;
      fetch("/api/users/" + userId)
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("username").textContent = data.username;
          document.getElementById("email").textContent = data.email;
        })
        .catch((error) => console.error("Error:", error));
    </script>
  </th:block>

  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">내 정보</h2>

        <input type="hidden" id="userId" th:value="${userId}" />

        <div class="pl-3">
          <h5><strong>이름:</strong> <span id="username"></span></h5>
          <h5 class="mt-3">
            <strong>이메일:</strong> <span id="email"></span>
          </h5>
          <!-- ... 다른 사용자 정보 ... -->
        </div>

        <!-- 버튼 그룹 -->
        <div class="mt-4">
          <a
            th:href="@{/users/profile/edit/{id}(id=${userId})}"
            class="btn btn-primary btn-lg"
          >
            회원정보 수정
          </a>
          <form
            th:action="@{/users/logout}"
            method="post"
            style="display: inline"
          >
            <button type="submit" class="btn btn-danger btn-lg ml-3">
              로그아웃
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</html>
