<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block layout:fragment="css">
    <style>
      .password-container {
        position: relative;
      }

      .toggle-password {
        position: absolute;
        top: 72%;
        transform: translateY(-50%);
        right: 17px;
        cursor: pointer;
      }
    </style>
  </th:block>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        const userId = document.getElementById("userId").value;
        const deleteButton = document.getElementById("delete-btn");

        if (userId) {
          $.ajax({
            url: "/api/users/" + userId,
            method: "GET",
            dataType: "json",
            success: function (data) {
              $("#username").val(data.username);
              $("#email").val(data.email);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("알 수 없는 오류가 발생했습니다.");
              location.replace(`/`);
            },
          });
        }

        $("#registrationForm").submit(function (event) {
          if (this.checkValidity()) {
            event.preventDefault();

            if (!userId) {
              $.ajax({
                url: "/api/users",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                  username: $("#username").val(),
                  email: $("#email").val(),
                  password: $("#password").val(),
                }),
                success: function (data) {
                  alert("회원 가입되었습니다.");
                  location.replace("/users/login");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (
                    jqXHR.status === 400 ||
                    jqXHR.status === 409 ||
                    jqXHR.status === 422
                  ) {
                    // 서버에서 반환한 오류 메시지를 가져와서 사용자에게 표시
                    var errorObj = JSON.parse(jqXHR.responseText);
                    alert(errorObj.message);
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            } else {
              $.ajax({
                url: `/api/users/${userId}`,
                method: "PUT",
                contentType: "application/json",
                data: JSON.stringify({
                  username: $("#username").val(),
                  email: $("#email").val(),
                  password: $("#password").val(),
                }),
                success: function (data) {
                  alert("수정 완료되었습니다.");
                  $.ajax({
                    url: "/users/logout",
                    method: "POST",
                    success: function () {
                      location.replace("/users/login");
                    },
                    error: function () {
                      alert("로그아웃 중 오류가 발생했습니다.");
                    },
                  });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (jqXHR.status === 400 || jqXHR.status === 422) {
                    var errorObj = JSON.parse(jqXHR.responseText);
                    alert(errorObj.message);
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            }
          }
        });

        if (deleteButton) {
          $(deleteButton).click(function () {
            if (confirm("정말로 회원 탈퇴를 진행하시겠습니까?")) {
              $.ajax({
                url: `/api/users/${userId}`,
                method: "DELETE",
                success: function () {
                  // 회원 탈퇴가 성공하면 바로 로그아웃 처리
                  $.ajax({
                    url: "/users/logout",
                    method: "POST",
                    success: function () {
                      alert("회원 탈퇴되었습니다.");
                      location.replace(`/`);
                    },
                    error: function (error) {
                      alert("로그아웃 중 오류가 발생했습니다.");
                    },
                  });
                },
                error: function (error) {
                  alert("회원 탈퇴 중 오류가 발생했습니다.");
                },
              });
            }
          });
        }

        $(".toggle-password").click(function () {
          const passwordInput = $("#password");
          const type =
            passwordInput.attr("type") === "password" ? "text" : "password";
          passwordInput.attr("type", type);
          $(this).toggleClass("fa-eye fa-eye-slash");
        });
      });
    </script>
  </th:block>

  <div layout:fragment="content">
    <form id="registrationForm">
      <div class="form-group">
        <input type="hidden" id="userId" th:value="${id}" />
        <label for="username">이름:</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="이름을 입력하세요"
          th:disabled="${id != null}"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">이메일:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="이메일을 입력하세요"
          th:disabled="${id != null}"
          required
        />
      </div>
      <div class="form-group password-container">
        <label for="password">비밀번호:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="비밀번호를 입력하세요"
          required
        /><i class="toggle-password fa fa-eye fa-lg"></i>
      </div>
      <div th:if="${#strings.isEmpty(id)}" style="text-align: center">
        <!-- 추가적으로 필요한 필드가 있다면 여기에 추가합니다. -->
        <button type="submit" class="btn btn-success">가입하기</button>
      </div>
      <div th:unless="${#strings.isEmpty(id)}" style="text-align: center">
        <button type="submit" class="btn btn-primary">수정하기</button>
        <button type="button" id="delete-btn" class="btn btn-danger">
          탈퇴하기
        </button>
      </div>
    </form>
  </div>
</html>
