<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const sizeSelector = document.getElementById("sizeSelector");

      // size 값 변경 리스너 추가
      sizeSelector.addEventListener("change", function () {
        // 현재 페이지를 0으로 설정하고, 선택된 size로 목록 다시 로드
        updateURLForPageAndSize(0); // size 변경 시 페이지는 0으로 리셋
        loadEmployees(0);
      });
      // URL에서 페이지 번호를 가져오는 함수
      function getPageFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        return parseInt(urlParams.get("page") || "0");
      }

      // URL에서 size 값을 가져오는 함수
      function getSizeFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get("size") || "3"; // 기본값을 3으로 설정
      }

      function getNameFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get("name") || "";
      }

      // 사용자가 페이지를 이동할 때 URL의 쿼리 매개변수를 업데이트합니다.
      function updateURLForPageAndSize(page) {
        const size = sizeSelector.value;
        const name = document.getElementById("searchName").value; // 이름 값을 가져옵니다.
        const url = new URL(window.location.href);
        url.searchParams.set("name", name); // 쿼리 매개변수로 추가합니다.
        url.searchParams.set("page", page);
        url.searchParams.set("size", size);
        window.history.pushState({}, "", url);
      }

      document
        .getElementById("searchButton")
        .addEventListener("click", function () {
          updateURLForPageAndSize(0); // 검색시 항상 첫 페이지부터 시작
          loadEmployees(0);
        });

      function loadEmployees(page) {
        const size = sizeSelector.value; // 선택된 size 값 가져오기
        const name = getNameFromURL(); // URL에서 이름 값을 가져옵니다.
        fetch(`/api/employees?name=${name}&page=${page}&size=${size}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error("직원 정보를 불러오는 데 실패하였습니다.");
            }
            return response.json();
          })
          .then((data) => {
            const tbody = document.querySelector("#employeeTable tbody");
            tbody.innerHTML = ""; // Clear current content

            if (data.content.length === 0) {
              // 직원 데이터가 없을 경우
              tbody.innerHTML = `
        <tr>
            <td colspan="4" style="text-align: center; vertical-align: middle; height: 50px;">직원이 존재하지 않습니다.</td>
        </tr>`;
            } else {
              data.content.forEach((employee, index) => {
                // 번호 계산
                const number = page * parseInt(size) + (index + 1);
                tbody.innerHTML += `
                            <tr>
                                <td>${number}</td>
                                <td><a href="/employee/${employee.id}">${employee.name}</a></td>
                                <td>${employee.position}</td>
                                <td>${employee.department}</td>
                            </tr>`;
              });
            }

            const totalPages = data.totalPages;
            updatePagination(page, totalPages);
          })
          .catch((error) => {
            alert(error);
          });

        // 페이지 로드 후 URL의 쿼리 매개변수를 업데이트합니다.
        updateURLForPageAndSize(page);
      }

      function updatePagination(current, total) {
        const pagination = document.querySelector("#pagination");

        if (total === 0) {
          // 직원 데이터가 없는 경우 페이지네이션을 숨김
          pagination.style.display = "none";
          return;
        } else {
          pagination.style.display = "";
        }

        const isFirstPage = current === 0;
        const isLastPage = current === total - 1;

        pagination.innerHTML = `
        <li class="page-item ${isFirstPage ? "disabled" : ""}" id="firstPage">
            <a class="page-link" href="javascript:void(0)">첫 페이지</a>
        </li>
        <li class="page-item ${
          isFirstPage ? "disabled" : ""
        }" id="previousPage">
            <a class="page-link" href="javascript:void(0)">이전</a>
        </li>
    `;

        for (let i = 0; i < total; i++) {
          pagination.innerHTML += `
            <li class="page-item ${i === current ? "active" : ""}">
                <a class="page-link" href="javascript:void(0)" data-page="${i}">${
            i + 1
          }</a>
            </li>`;
        }

        pagination.innerHTML += `
        <li class="page-item ${isLastPage ? "disabled" : ""}" id="nextPage">
            <a class="page-link" href="javascript:void(0)">다음</a>
        </li>
        <li class="page-item ${isLastPage ? "disabled" : ""}" id="lastPage">
            <a class="page-link" href="javascript:void(0)">마지막 페이지</a>
        </li>
    `;

        if (!isFirstPage) {
          document
            .querySelector("#firstPage")
            .addEventListener("click", (e) => {
              loadEmployees(0);
            });

          document
            .querySelector("#previousPage")
            .addEventListener("click", (e) => {
              if (current > 0) loadEmployees(current - 1);
            });
        }

        if (!isLastPage) {
          document.querySelector("#nextPage").addEventListener("click", (e) => {
            if (current < total - 1) loadEmployees(current + 1);
          });

          document.querySelector("#lastPage").addEventListener("click", (e) => {
            loadEmployees(total - 1);
          });
        }

        document.querySelectorAll(".page-link[data-page]").forEach((link) => {
          link.addEventListener("click", function (event) {
            let page = parseInt(event.currentTarget.dataset.page);
            loadEmployees(page);
          });
        });
      }

      // 페이지를 로드할 때 URL의 쿼리 매개변수로부터 페이지 번호를 가져옵니다.
      document.addEventListener("DOMContentLoaded", function () {
        const sizeFromURL = getSizeFromURL();
        sizeSelector.value = sizeFromURL;
        const nameFromURL = getNameFromURL(); // URL에서 이름 값을 가져옵니다.
        document.getElementById("searchName").value = nameFromURL; // 입력 필드에 이름 값을 설정합니다.
        const pageFromURL = getPageFromURL();
        loadEmployees(pageFromURL);
      });
    </script>
  </th:block>

  <div layout:fragment="content">
    <h1 class="mb-4">직원 목록</h1>

    <a href="/employee/new" class="btn btn-primary">직원 추가하기</a>

    <div class="row my-3 align-items-center">
      <div class="col-4">
        <label for="sizeSelector" class="mr-2">목록 수:</label>
        <select class="form-control d-inline-block w-auto" id="sizeSelector">
          <option value="3">3개씩</option>
          <option value="5">5개씩</option>
          <option value="10">10개씩</option>
        </select>
      </div>
      <div class="col-8">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="searchName"
            placeholder="이름 검색"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="searchButton"
            >
              찾기
            </button>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover" id="employeeTable">
      <thead class="thead-dark">
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>직책</th>
          <th>부서</th>
        </tr>
      </thead>
      <tbody>
        <!-- 자바스크립트로 채워질 부분입니다. -->
      </tbody>
    </table>

    <nav aria-label="Employee Pagination">
      <ul class="pagination" id="pagination">
        <li class="page-item" id="firstPage">
          <a class="page-link" href="#">첫 페이지</a>
        </li>
        <li class="page-item" id="previousPage">
          <a class="page-link" href="#">이전</a>
        </li>
        <!-- 페이지 번호는 자바스크립트로 삽입됩니다. -->
        <li class="page-item" id="nextPage">
          <a class="page-link" href="#">다음</a>
        </li>
        <li class="page-item" id="lastPage">
          <a class="page-link" href="#">마지막 페이지</a>
        </li>
      </ul>
    </nav>
  </div>
</html>
