<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      // 페이지를 로드할 때 URL의 쿼리 매개변수로부터 페이지 번호를 가져옵니다.
      $(document).ready(function () {
        var sizeSelector = $("#sizeSelector");
        var searchNameInput = $("#searchName");

        // URL에서 값 가져오기
        var sizeFromURL = getSizeFromURL();
        var nameFromURL = getNameFromURL();
        var pageFromURL = getPageFromURL();

        // 값 설정
        sizeSelector.val(sizeFromURL);
        searchNameInput.val(nameFromURL);

        loadEmployees(pageFromURL);

        // size 값 변경 리스너 추가
        sizeSelector.change(function () {
          // 현재 페이지를 0으로 설정하고, 선택된 size로 목록 다시 로드
          updateURLForPageAndSize(0); // size 변경 시 페이지는 0으로 리셋
          loadEmployees(0);
        });

        // URL에서 페이지 번호를 가져오는 함수
        function getPageFromURL() {
          const urlParams = new URLSearchParams(window.location.search);
          return parseInt(urlParams.get("page") || "0");
        }

        // URL에서 size 값을 가져오는 함수
        function getSizeFromURL() {
          const urlParams = new URLSearchParams(window.location.search);
          return urlParams.get("size") || "3"; // 기본값을 3으로 설정
        }

        function getNameFromURL() {
          const urlParams = new URLSearchParams(window.location.search);
          return urlParams.get("name") || "";
        }

        // 사용자가 페이지를 이동할 때 URL의 쿼리 매개변수를 업데이트합니다.
        function updateURLForPageAndSize(page) {
          var size = $("#sizeSelector").val();
          var name = $("#searchName").val();
          var url = new URL(window.location.href);

          // 쿼리 매개변수로 추가
          url.searchParams.set("name", name);
          url.searchParams.set("page", page);
          url.searchParams.set("size", size);

          // 브라우저 히스토리 업데이트
          window.history.pushState({}, "", url);
        }

        $("#searchForm").submit(function (event) {
          // 기본 제출 동작을 막음
          event.preventDefault();
          // 검색시 항상 첫 페이지부터 시작
          updateURLForPageAndSize(0);
          loadEmployees(0);
        });

        function loadEmployees(page) {
          var size = $("#sizeSelector").val();
          var name = getNameFromURL();

          $.ajax({
            url: `/api/employees?name=${name}&page=${page}&size=${size}`,
            method: "GET",
            dataType: "json",
            success: function (data) {
              var tbody = $("#employeeTable tbody");
              tbody.empty(); // Clear current content

              if (data.content.length === 0) {
                // 직원 데이터가 없을 경우
                tbody.html(`
            <tr>
              <td colspan="4" style="text-align: center; vertical-align: middle; height: 50px;">직원이 존재하지 않습니다.</td>
            </tr>`);
              } else {
                $.each(data.content, function (index, employee) {
                  // 번호 계산
                  var number = page * parseInt(size) + (index + 1);
                  tbody.append(`
              <tr>
                <td>${number}</td>
                <td><a href="/employee/${employee.id}">${employee.name}</a></td>
                <td>${employee.position}</td>
                <td>${employee.department}</td>
              </tr>`);
                });
              }

              var totalPages = data.totalPages;
              updatePagination(page, totalPages);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("직원 정보를 불러오는 데 실패하였습니다.");
            },
            complete: function () {
              // 페이지 로드 후 URL의 쿼리 매개변수를 업데이트합니다.
              updateURLForPageAndSize(page);
            },
          });
        }

        function updatePagination(current, total) {
          var pagination = $("#pagination");

          if (total === 0) {
            // 직원 데이터가 없는 경우 페이지네이션을 숨김
            pagination.hide();
            return;
          } else {
            pagination.show();
          }

          var isFirstPage = current === 0;
          var isLastPage = current === total - 1;

          pagination.html(`
      <li class="page-item ${isFirstPage ? "disabled" : ""}" id="firstPage">
        <a class="page-link" href="javascript:void(0)">첫 페이지</a>
      </li>
      <li class="page-item ${isFirstPage ? "disabled" : ""}" id="previousPage">
        <a class="page-link" href="javascript:void(0)">이전</a>
      </li>`);

          for (var i = 0; i < total; i++) {
            pagination.append(`
        <li class="page-item ${i === current ? "active" : ""}">
          <a class="page-link" href="javascript:void(0)" data-page="${i}">${
              i + 1
            }</a>
        </li>`);
          }

          pagination.append(`
      <li class="page-item ${isLastPage ? "disabled" : ""}" id="nextPage">
        <a class="page-link" href="javascript:void(0)">다음</a>
      </li>
      <li class="page-item ${isLastPage ? "disabled" : ""}" id="lastPage">
        <a class="page-link" href="javascript:void(0)">마지막 페이지</a>
      </li>`);

          if (!isFirstPage) {
            $("#firstPage").click(function () {
              loadEmployees(0);
            });

            $("#previousPage").click(function () {
              if (current > 0) loadEmployees(current - 1);
            });
          }

          if (!isLastPage) {
            $("#nextPage").click(function () {
              if (current < total - 1) loadEmployees(current + 1);
            });

            $("#lastPage").click(function () {
              loadEmployees(total - 1);
            });
          }

          $(".page-link[data-page]").click(function (event) {
            var page = parseInt($(event.currentTarget).data("page"));
            loadEmployees(page);
          });
        }
      });
    </script>
  </th:block>

  <div layout:fragment="content">
    <h1 class="mb-4">직원 목록</h1>

    <a href="/employee/new" class="btn btn-primary">직원 추가하기</a>

    <div class="row my-3 align-items-center">
      <div class="col-4">
        <label for="sizeSelector" class="mr-2">목록 수:</label>
        <select class="form-control d-inline-block w-auto" id="sizeSelector">
          <option value="3">3개씩</option>
          <option value="5">5개씩</option>
          <option value="10">10개씩</option>
        </select>
      </div>
      <div class="col-8">
        <form id="searchForm">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="searchName"
              placeholder="검색할 이름을 입력하세요"
              required
            />
            <div class="input-group-append">
              <button
                type="submit"
                class="btn btn-outline-secondary"
                id="searchButton"
              >
                찾기
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <table class="table table-bordered table-hover" id="employeeTable">
      <thead class="thead-dark">
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>직책</th>
          <th>부서</th>
        </tr>
      </thead>
      <tbody>
        <!-- 자바스크립트로 채워질 부분입니다. -->
      </tbody>
    </table>

    <nav aria-label="Employee Pagination">
      <ul class="pagination" id="pagination">
        <li class="page-item" id="firstPage">
          <a class="page-link" href="#">첫 페이지</a>
        </li>
        <li class="page-item" id="previousPage">
          <a class="page-link" href="#">이전</a>
        </li>
        <!-- 페이지 번호는 자바스크립트로 삽입됩니다. -->
        <li class="page-item" id="nextPage">
          <a class="page-link" href="#">다음</a>
        </li>
        <li class="page-item" id="lastPage">
          <a class="page-link" href="#">마지막 페이지</a>
        </li>
      </ul>
    </nav>
  </div>
</html>
