<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const employeeId = document.getElementById("employeeId").value;

      if (employeeId) {
        // ID 값이 있을 때만 API 호출
        fetch("/api/employees/" + employeeId)
          .then((response) => {
            if (!response.ok) {
              throw new Error("알수 없는 오류가 발생했습니다.");
            }
            return response.json();
          })
          .then((data) => {
            document.getElementById("name").value = data.name;
            document.getElementById("position").value = data.position;
            document.getElementById("department").value = data.department;
            // 추가 필드들도 여기에 추가합니다.
          })
          .catch((error) => {
            alert(error);
            location.replace(`/employee/${employeeId}`);
          });
      }

      const registerButton = document.getElementById("register-btn");

      if (registerButton) {
        registerButton.addEventListener("click", (event) => {
          fetch(`/api/employees`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              name: document.getElementById("name").value,
              position: document.getElementById("position").value,
              department: document.getElementById("department").value,
            }),
          })
            .then((response) => {
              if (!response.ok) {
                return response.json().then((error) => {
                  throw new Error(error.message);
                });
              }
              return response.json();
            })
            .then((data) => {
              alert("직원등록 완료되었습니다.");
              location.replace(`/employees`);
            })
            .catch((error) => {
              alert(error);
            });
        });
      }

      const modifyButton = document.getElementById("modify-btn");

      if (modifyButton) {
        modifyButton.addEventListener("click", (event) => {
          fetch(`/api/employees/${employeeId}`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              name: document.getElementById("name").value,
              position: document.getElementById("position").value,
              department: document.getElementById("department").value,
            }),
          })
            .then((response) => {
              if (!response.ok) {
                return response.json().then((error) => {
                  throw new Error(error.message);
                });
              }
              return response.json();
            })
            .then((data) => {
              alert("수정 완료되었습니다.");
              location.replace(`/employee/${employeeId}`);
            })
            .catch((error) => {
              alert(error);
            });
        });
      }

      const deleteButton = document.getElementById("delete-btn");

      if (deleteButton) {
        deleteButton.addEventListener("click", (event) => {
          if (confirm("정말로 직원 삭제 하시겠습니까?")) {
            fetch(`/api/employees/${employeeId}`, {
              method: "DELETE",
            })
              .then((response) => {
                if (response.ok) {
                  alert("직원 삭제가 완료되었습니다.");
                  location.replace(`/employees`);
                } else {
                  throw new Error("직원 삭제 중 오류가 발생했습니다.");
                }
              })
              .catch((error) => {
                alert(error);
              });
          }
        });
      }
    </script>
  </th:block>

  <div layout:fragment="content">
    <form id="registrationForm">
      <div class="form-group">
        <input type="hidden" id="employeeId" th:value="${id}" />
        <label for="name">직원 이름:</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="position">직책:</label>
        <input
          type="position"
          id="position"
          name="position"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="department">부서:</label>
        <input
          type="department"
          id="department"
          name="department"
          class="form-control"
          required
        />
      </div>
      <div th:if="${#strings.isEmpty(id)}" style="text-align: center">
        <button type="button" class="btn btn-success" id="register-btn">
          등록하기
        </button>
      </div>
      <div th:unless="${#strings.isEmpty(id)}" style="text-align: center">
        <button type="button" id="modify-btn" class="btn btn-primary">
          수정하기
        </button>
        <button type="button" id="delete-btn" class="btn btn-danger">
          직원 삭제
        </button>
      </div>
    </form>
  </div>
</html>
