<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block layout:fragment="css">
    <style>
      .preview-container {
        width: 150px; /* 증명사진 너비 지정 */
        height: 200px; /* 증명사진 높이 지정 */
        border: 1px solid #dee2e6; /* 테두리 추가 */
        border-radius: 5px; /* 둥근 테두리를 만듭니다. */
        overflow: hidden; /* 넘치는 내용 숨김 */
      }

      .no-image {
        width: 100%; /* 100% 너비로 설정 */
        height: 100%; /* 100% 높이로 설정 */
        background-color: #f8f9fa; /* 배경색을 정의 */
        display: flex; /* 내부 요소를 수평으로 정렬 */
        justify-content: center; /* 가운데 정렬 */
        align-items: center; /* 가운데 정렬 */
      }

      .preview-image {
        width: 100%; /* 100% 너비로 설정 */
        height: 100%; /* 100% 높이로 설정 */
      }
    </style>
  </th:block>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        const employeeId = document.getElementById("employeeId").value;
        const deleteButton = document.getElementById("delete-btn");

        if (employeeId) {
          $.ajax({
            url: "/api/employees/" + employeeId,
            method: "GET",
            dataType: "json",
            success: function (data) {
              $("#name").val(data.name);
              $("#dob").val(
                data.dob.replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3")
              );
              $("#phone").val(
                data.phone.replace(/(\d{3})(\d{3,4})(\d{4})/, "$1-$2-$3")
              );
              // 이미지 표시
              var imageUrl = data.imageUrl; // 이미지 URL을 데이터에서 가져옴
              if (imageUrl) {
                var imgElement = $("<img>")
                  .attr("src", "/images/" + imageUrl)
                  .addClass("preview-image");
                $("#photoPreview").html(imgElement); // 미리보기 영역에 이미지 추가
                $("#photo").prop("disabled", true); // 입력 요소를 비활성화하여 유효성 검사에서 제외
                $("#photo").hide();
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("잘못된 접근입니다.");
              location.replace(`/employee/${employeeId}`);
            },
          });
        }

        $("#registrationForm").submit(function (event) {
          if (this.checkValidity()) {
            event.preventDefault();

            var formData = new FormData();

            // JSON 데이터를 FormData에 추가
            formData.append(
              "employeeRequest",
              new Blob(
                [
                  JSON.stringify({
                    name: $("#name").val(),
                    phone: $("#phone").val().replace(/\D/g, ""),
                    dob: $("#dob").val().replace(/\D/g, ""),
                  }),
                ],
                { type: "application/json" }
              )
            );

            formData.append("file", $("#photo")[0].files[0]);

            if (!employeeId) {
              $.ajax({
                url: "/api/employees",
                method: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                  alert("직원 등록이 완료되었습니다.");
                  location.replace("/employees");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (jqXHR.status === 400 || jqXHR.status === 422) {
                    // 서버에서 반환한 오류 메시지를 가져와서 사용자에게 표시
                    var errorObj = JSON.parse(jqXHR.responseText);
                    alert(errorObj.message);
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            } else {
              $.ajax({
                url: "/api/employees/" + employeeId,
                method: "PUT",
                contentType: "application/json",
                data: JSON.stringify({
                  name: $("#name").val(),
                  phone: $("#phone").val().replace(/\D/g, ""),
                  dob: $("#dob").val().replace(/\D/g, ""),
                }),
                success: function (data) {
                  alert("수정이 완료되었습니다.");
                  location.replace("/employee/" + employeeId);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (!jqXHR.ok) {
                    var errorObj = JSON.parse(jqXHR.responseText);
                    alert(errorObj.message);
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            }
          }
        });

        if (deleteButton) {
          $(deleteButton).on("click", function (event) {
            if (confirm("정말로 직원 삭제 하시겠습니까?")) {
              $.ajax({
                url: "/api/employees/" + employeeId,
                method: "DELETE",
                success: function (data) {
                  alert("직원 삭제가 완료되었습니다.");
                  location.replace("/employees");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (!jqXHR.ok) {
                    throw new Error("직원 삭제 중 오류가 발생했습니다.");
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            }
          });
        }

        function validateDob(dob) {
          var dobDate = new Date(
            dob.substring(0, 4),
            parseInt(dob.substring(4, 6)) - 1,
            dob.substring(6, 8)
          );
          var minDobDate = new Date(1900, 0, 1); // 최소 허용 생년월일

          // 입력된 생년월일이 최소 허용 생년월일보다 작으면 기본값으로 설정
          if (dobDate < minDobDate) {
            return "19000101";
          }

          var currentDate = new Date();

          // 입력된 생년월일이 현재 날짜 이후면 오늘 날짜로 설정
          if (dobDate > currentDate) {
            var year = currentDate.getFullYear();
            var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
            var day = ("0" + currentDate.getDate()).slice(-2);
            return `${year}${month}${day}`;
          }

          // 유효한 생년월일이면 그대로 반환
          return dob;
        }

        $("#dob").on("input", function () {
          // 현재 입력된 값 가져오기
          var inputValue = $(this).val();

          // 숫자만 남기기
          var numericValue = inputValue.replace(/\D/g, "");

          // 8자리를 입력했는지 검증
          if (numericValue.length === 8) {
            // 유효성 검사
            numericValue = validateDob(numericValue);
          }

          // 생년월일 형식으로 포맷팅
          var dobFormatted = numericValue
            .substring(0, 8)
            .replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3");

          $(this).val(dobFormatted);
        });

        // 전화번호 입력란에 입력이 발생할 때마다 실행
        $("#phone").on("input", function () {
          // 현재 입력된 전화번호 가져오기
          var inputNumber = $(this).val();

          // 숫자만 남기기
          var numericNumber = inputNumber.replace(/\D/g, "");

          // 전화번호 형식으로 포맷팅
          var formattedNumber = numericNumber
            .substring(0, 11)
            .replace(/(\d{3})(\d{3,4})(\d{4})/, function (_, p1, p2, p3) {
              return [p1, p2, p3].filter(Boolean).join("-");
            });

          // 포맷팅된 전화번호로 입력란 업데이트
          $(this).val(formattedNumber);
        });

        $("#photo").on("change", function (e) {
          var input = e.target;
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $("#photoPreview").removeClass("no-image"); // 이미지가 있을 때 클래스 제거
              $("#photoPreview").html(
                '<img class="preview-image" src="' +
                  e.target.result +
                  '" alt="Preview">'
              );
            };

            reader.readAsDataURL(input.files[0]);
          } else {
            $("#photoPreview").addClass("no-image"); // 이미지가 없을 때 클래스 추가
            $("#photoPreview").html("No image");
          }
        });
      });
    </script>
  </th:block>

  <div layout:fragment="content">
    <form id="registrationForm" enctype="multipart/form-data">
      <div class="form-group">
        <input type="hidden" id="employeeId" th:value="${id}" />
        <label for="name">직원 이름:</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="직원 이름을 입력하세요"
          required
        />
      </div>
      <div class="form-group">
        <label for="photo">증명사진 업로드</label>
        <div class="preview-container">
          <div id="photoPreview" class="no-image">No image</div>
        </div>
        <br />
        <input
          type="file"
          class="form-control-file"
          id="photo"
          name="photo"
          accept="image/*"
          required
        />
      </div>
      <div class="form-group">
        <label for="dob">생년월일:</label>
        <input
          type="text"
          class="form-control"
          id="dob"
          name="dob"
          placeholder="8자리를 입력하세요"
          required
        />
      </div>
      <div class="form-group">
        <label for="phone">전화번호:</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="최대 11자리를 입력하세요"
          required
        />
      </div>
      <div th:if="${#strings.isEmpty(id)}" style="text-align: center">
        <button type="submit" class="btn btn-success">등록하기</button>
      </div>
      <div th:unless="${#strings.isEmpty(id)}" style="text-align: center">
        <button type="submit" class="btn btn-primary">수정하기</button>
        <button type="button" id="delete-btn" class="btn btn-danger">
          직원 삭제
        </button>
      </div>
    </form>
  </div>
</html>
