<!DOCTYPE html>
<html
  layout:decorate="~{layouts/layout1}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {
        const employeeId = document.getElementById("employeeId").value;
        const deleteButton = document.getElementById("delete-btn");

        if (employeeId) {
          $.ajax({
            url: "/api/employees/" + employeeId,
            method: "GET",
            dataType: "json",
            success: function (data) {
              $("#name").val(data.name);
              $("#dob").val(
                data.dob.replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3")
              );
              $("#phone").val(
                data.phone.replace(/(\d{3})(\d{3,4})(\d{4})/, "$1-$2-$3")
              );
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("잘못된 접근입니다.");
              location.replace(`/employee/${employeeId}`);
            },
          });
        }

        $("#registrationForm").submit(function (event) {
          if (this.checkValidity()) {
            event.preventDefault();

            if (!employeeId) {
              $.ajax({
                url: "/api/employees",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                  name: $("#name").val(),
                  phone: $("#phone").val().replace(/\D/g, ""),
                  dob: $("#dob").val().replace(/\D/g, ""),
                }),
                success: function (data) {
                  alert("직원 등록이 완료되었습니다.");
                  location.replace("/employees");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (jqXHR.status === 400 || jqXHR.status === 422) {
                    // 서버에서 반환한 오류 메시지를 가져와서 사용자에게 표시
                    var errorObj = JSON.parse(jqXHR.responseText);
                    alert(errorObj.message);
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            } else {
              $.ajax({
                url: "/api/employees/" + employeeId,
                method: "PUT",
                contentType: "application/json",
                data: JSON.stringify({
                  name: $("#name").val(),
                  phone: $("#phone").val().replace(/\D/g, ""),
                  dob: $("#dob").val().replace(/\D/g, ""),
                }),
                success: function (data) {
                  alert("수정이 완료되었습니다.");
                  location.replace("/employee/" + employeeId);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (!jqXHR.ok) {
                    var errorObj = JSON.parse(jqXHR.responseText);
                    alert(errorObj.message);
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            }
          }
        });

        if (deleteButton) {
          $(deleteButton).on("click", function (event) {
            if (confirm("정말로 직원 삭제 하시겠습니까?")) {
              $.ajax({
                url: "/api/employees/" + employeeId,
                method: "DELETE",
                success: function (data) {
                  alert("직원 삭제가 완료되었습니다.");
                  location.replace("/employees");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  if (!jqXHR.ok) {
                    throw new Error("직원 삭제 중 오류가 발생했습니다.");
                  } else {
                    alert("알 수 없는 오류가 발생했습니다.");
                  }
                },
              });
            }
          });
        }

        function validateDob(dob) {
          var dobDate = new Date(
            dob.substring(0, 4),
            parseInt(dob.substring(4, 6)) - 1,
            dob.substring(6, 8)
          );
          var minDobDate = new Date(1900, 0, 1); // 최소 허용 생년월일

          // 입력된 생년월일이 최소 허용 생년월일보다 작으면 기본값으로 설정
          if (dobDate < minDobDate) {
            return "19000101";
          }

          var currentDate = new Date();

          // 입력된 생년월일이 현재 날짜 이후면 오늘 날짜로 설정
          if (dobDate > currentDate) {
            var year = currentDate.getFullYear();
            var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
            var day = ("0" + currentDate.getDate()).slice(-2);
            return `${year}${month}${day}`;
          }

          // 유효한 생년월일이면 그대로 반환
          return dob;
        }

        $("#dob").on("input", function () {
          // 현재 입력된 값 가져오기
          var inputValue = $(this).val();

          // 숫자만 남기기
          var numericValue = inputValue.replace(/\D/g, "");

          // 8자리를 입력했는지 검증
          if (numericValue.length === 8) {
            // 유효성 검사
            numericValue = validateDob(numericValue);
          }

          // 생년월일 형식으로 포맷팅
          var dobFormatted = numericValue
            .substring(0, 8)
            .replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3");

          $(this).val(dobFormatted);
        });

        // 전화번호 입력란에 입력이 발생할 때마다 실행
        $("#phone").on("input", function () {
          // 현재 입력된 전화번호 가져오기
          var inputNumber = $(this).val();

          // 숫자만 남기기
          var numericNumber = inputNumber.replace(/\D/g, "");

          // 전화번호 형식으로 포맷팅
          var formattedNumber = numericNumber
            .substring(0, 11)
            .replace(/(\d{3})(\d{3,4})(\d{4})/, function (_, p1, p2, p3) {
              return [p1, p2, p3].filter(Boolean).join("-");
            });

          // 포맷팅된 전화번호로 입력란 업데이트
          $(this).val(formattedNumber);
        });
      });
    </script>
  </th:block>

  <div layout:fragment="content">
    <form id="registrationForm">
      <div class="form-group">
        <input type="hidden" id="employeeId" th:value="${id}" />
        <label for="name">직원 이름:</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="직원 이름을 입력하세요"
          required
        />
      </div>
      <div class="form-group">
        <label for="dob">생년월일:</label>
        <input
          type="text"
          class="form-control"
          id="dob"
          name="dob"
          placeholder="8자리를 입력하세요"
          required
        />
      </div>
      <div class="form-group">
        <label for="phone">전화번호:</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="최대 11자리를 입력하세요"
          required
        />
      </div>
      <div th:if="${#strings.isEmpty(id)}" style="text-align: center">
        <button type="submit" class="btn btn-success">등록하기</button>
      </div>
      <div th:unless="${#strings.isEmpty(id)}" style="text-align: center">
        <button type="submit" class="btn btn-primary">수정하기</button>
        <button type="button" id="delete-btn" class="btn btn-danger">
          직원 삭제
        </button>
      </div>
    </form>
  </div>
</html>
